
{% include "header.html" %}



<style>
#header {
    background-color: #ffb3d1;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#b3ffff;
    height:550px;
    width:25%;
    float:left;
    padding:5px;
}
#nav1 {
    line-height:30px;
    background-color:#ccffb3;
    height:550px;
    width:25%;
    float:right;
    padding:5px;
}
	
#nav2 {
    line-height:30px;
    background-color:#eeeeee;
    height:550px;
    width:25%;
    float:right;
    padding:5px;
}

#nav3 {
    line-height:30px;
    background-color:#b3c6ff;
    height:550px;
    width:25%;
    float:right;
    padding:5px;
}
#footer {
    background-color:#e6b3e6;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
}

</style>

<body style="background-color:#fff0b3">

<div id="header">
<h1>Founders</h1>
</div>

<div id="nav">



</div>

<div id="nav1">

</div>
<div id="nav2">
</div>

<div id="nav3">

</div>
</body>



{% include "footer.html" %}