
{% include "header.html" %}


<body align="center" style="background-color:#fff0b3">

<div>
      <h1 align="center">Contact Us</h1>
      <h5>iCAB taxi service also provides user friendly customer-company interaction. We are at your service the moment you need our help. iCAB provides 24*7 online customer help service.</h5>
	<p class="w3-text-grey">You contact us at any of our helpline numbers mentioned below.<br>
								Contacts :	<br>	
								+91-98967-54420<br>
								+91-75080-44128<br>
								+91-88233-77911<br>
								<h4>or</h4>
		You can also mail us your feedback and suggestions at <a href="www.icab24@gmail.com">www.icab24@gmail.com</a> <br>
	</p>
    </div>
</body>

{% include "footer.html" %}