<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset=utf-8>
	<title>i-cab</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static',filename='cab.ico')}}" rel="shortcut icon">
	<link href="{{url_for('static',filename='css/w3.css')}}" rel="stylesheet">
	<link href="{{url_for('static',filename='css/slideshow.css')}}" rel="stylesheet">
</head>
<style>
	
			
			
		
		footer 
		{ 
			position:absolute;
			display: block;
			bottom:-65px;
			width:100%;
			background-color:#fff0b3;
		}
		
		
	
</style>
<body>
		<footer>
			<p align="center">Under Development!!!</p>	
		</footer>
		
	</body>

</html>